
.header-logo a {
  @apply text-black;
}

.header-logo a:visited {
  @apply text-black;
}

.header-logo span > * {
  display: inline !important;
}

.nav-link {
  @apply px-4 py-2 m-2 font-semibold text-indigo-600;
  word-break: keep-all;
}

.nav-link:hover {
  @apply font-semibold bg-indigo-200 rounded-lg;
  border-bottom: none !important;
}

.nav-link.active--exact {
  @apply text-indigo-900;
  @apply font-bold;
}


.icon-link {
  content: '\0026';
}
